

body{
            background-image: url(fakturka.jpg);
            background-position: left;
           background-repeat: no-repeat;
           height:fit-content;
           width: fit-content;
    
}
table{
    margin-top: 400px;
    margin-left: 100px;
}
td{
    height: 5px;
}