

body{
            background-image: url(fakturka.jpg);
            background-position: top left;
           background-repeat: no-repeat;
          
    
}
table{
    width: 1280px;
    height: 115px;
    border: 1px solid black;
    margin-top: 380px;
    margin-left: 74px;
}

td{
    border: 1px solid black;
    height: 10px;
    text-align: center;
}
